<!DOCTYPE html>
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
     <head><title>list.html
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="referrer" content="no-referrer">
<style>
  body {
   position: relative;
   background-color: #ddc;
   color: #413;
   font-family: serif;
   margin: 0 auto;
   padding-bottom: 6rem;
   min-height: 100%;
   font-size: 0.8em;
   font-family: sans-serif;

}
   article {
     background-color: #eed;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     width: 75vw;
     max-width: 45em;
     margin: 0.5em auto;
     padding: 1em;
   }
   header {
   margin-bottom: 2em;
   padding-bottom: 0.5em;
   border-bottom: 0.2em dotted #444;
   }
   h1, .title { margin: 0.2em 0 0.2em 0; font-size: 3.2em; }
   h1 small { font-size: 0.5em; margin: 0 0.2em 0 0.2em; padding: 0.2em;}
   main, #content {
   width: 75vw;
   max-width: 40em;
   margin: 0 auto;
   line-height: 1.6;
   margin-bottom: 3rem;
   }
   img { width: 30em; max-height: 80vh; }
   footer, #postamble {
   width: 75vw;
   max-width: 45em;
   margin: 0 auto;
   overflow: hidden;
   margin-top: 2em;
   padding-top: 0.5em;
   border-top: 0.1em dotted #444;
   }
   section {
   margin-bottom: 0.5em;
   padding-bottom: 0.5em;
   }
   .outline-3 {
   border-bottom: 0.1rem dotted #444;
   }
   #recent-logs, #recent-bulletins {
     box-shadow: 0 1px 3px rgba(88,88,00,0.12), 0 1px 2px rgba(44,11,33,0.24);
  }
   .pages-listing {
     padding: 0.5em 2em;
   }
   .pages-listing ul { list-style-type: none; width: 100%; padding: 0; margin 0 auto; }
   .pages-listing li {
     border-bottom: 0.1em dashed #413;
     padding-bottom: 0.2em;
   }
   .page-brief .page-summary {
     font-size: 0.7em;
   }
   .page-brief .page-keywords { font-size 0.8em; }
   blockquote {
   padding: 0.5rem;
   border-left: 0.1em solid #444;
   }
   table {
   border-collapse: collapse;
   border-spacing: 0;
   empty-cells: show;
   border: 0.1em solid #444;
   }
   thead { font-family: sans-serif; }
   th, td {
   padding: 0 0.3em;
   border: 0.01em solid #444;
   }
   img {
   max-width: 80vw;
   vertical-align: middle;
   }
   pre, .src {
   padding: 0.5em;
   border: 0.1em solid #444;
   white-space: pre-wrap;
   overflow-x: scroll;
   text-overflow: clip;
   }
   dt {
   font-weight: normal;
   display: inline-block;
   border-bottom: 0.1rem dotted #444;
   }
   #text-index dt { border-bottom: none; }
   h2, h3, h4, h5, h6, h7, h8, h9, h10 {
   display: block;
   font-family: sans-serif;
   margin: 0.2em auto 0.5em 0;
   }
   h2 { text-align: left; font-size: 2em;}
   h3 {
   font-size: 1.8em;
   }
   h4 {
   font-size: 1.6em;
   }
   h5 {
   font-size: 1.4em;
   margin: 0.5em 0 0.2em 10%;
   }
   h6 {
   font-size: 1.2em;
   margin: 0.5em 0 0.2em 30%;
   }
   a {
   text-decoration: none;
   color: #880;
   display: inline;
   position: relative;
   border-bottom: 0.1rem dotted;
   line-height: 1.2;
   transition: border 0.3s;
   }
   a:hover {
   color: #aa2;
   outline-style: none;
   border-bottom: 0.1rem solid;
   }
   a:visited { color: #934; }
   a:visited:hover { color: #b56; }
   a:focus {
   outline-style: none;
   border-bottom: 0.1rem solid;
   }
   ::selection { background-color: #777; color: #eee; }
   a::selection { background-color: #ccc; }
   .org-todo {
   background-color: #ddd;
   color: #333;
  font-size: .8rem;
  float: right;
  }
  .org-src-container + .example {
  margin-left: 8em;
  }
  label.org-src-name {
  margin: 0 0 0 3em;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 0;
  }
  .skip-to-content {
  opacity: 0;
  position: absolute;
  }
  .skip-to-content:focus{
  opacity:1
  }
  ul { max-width: 85%; }

</style>

     </head>
     <body>
       <a class="skip-to-content" href="#content">Skip to page content</a>

       
         <article>
           
	     <header>
	       <h1>list.html
</h1>

    	       

               <p></p>
	     </header>
	   
	   
	     <main>
                
  
  <section id="content">
    <pre><code class="language-html">{{ define &quot;content&quot; }}
  {{ partial &quot;section-content.html&quot; . }}
  {{ with .Pages }}
    &lt;section class=&quot;pages-listing&quot;&gt;
      &lt;ul&gt;
	{{ range .ByDate.Reverse }}
	  &lt;li class=&quot;page-brief&quot;&gt;
	    {{ partial &quot;span-log-brief.html&quot; . }}
	  &lt;/li&gt;
	{{ end }}
      &lt;/ul&gt;
    &lt;/section&gt;
  {{ end }}
{{ end }}
</code></pre>

  </section>



	      </main>
	    
	    
	      <footer>
	        <span id="gratitude">
  This <a href="/">website</a> was made with <a href="/support/">support</a> from people like you. <em>Thank you!</em>
</span>

	        <span id="copyright">To the extent possible, I have waived all copyright and related or neighboring rights to it.</a>

	      </footer>
	    
          </article>
	
      </body>
  </html>

